PORT=8090
DB_CNN=mongodb+srv://nodejs_ronald:Wbzpcyr5Hm89uzzB@ronald.0vlxaoo.mongodb.net/mern_calendar
SECRET_JWT_SEED=Esto-Es-Una-Palabra-R@ra

# db user: nodejs-ronald
# db pass: Wbzpcyr5Hm89uzzB
# mern_calendar (opcional)




